<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Hello, <%= title %></p>

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
